.github
.git
*.md
!THIRD-PARTY-LICENSES.md
.vscode
.gitignore
Makefile
.eslintcache
.gocache
/web/node_modules
pg_data
redis_data
data
logs
backup_*.sql
*.sql
.env
.env.*
*.env
*.local.yaml
*.local.yml
